<% include ../partials/header %>

<div class="jumbotron jumbotron-fluid jumbotron-try">
    <!--<h1 class="page-header">Research Page</h1>-->
    <!--<p>Some important content here describing the page</p>-->
    <h1 class="jumbotron-title">Academic Accolades</h1>
    <p class="home-p-style">
        Here, I show some of the awards I have received including a best academic 
        paper award and some prestigious postgraduate scholarships I have received. 
        Details are provided below.
    </p>
</div>

<div class="containter">
    
    <div class="experience">
        <h5 class="experience-title">Best Paper Award
            <span  class="date-el text-muted">01/02/2017</span>
            <!--<span  class="date-el text-muted">Feb 2018 &#8211; present</span>-->
        </h5>
        <!--<h4 class="in-line">lakjdlfkj</h4>-->
        <img src='images/Best-Paper-APCCM-Certificate-001.jpg'>
        <div class="award-content2">
            <h6 class="experience-subtitle">Paper Title:</h6>
            <h4 class="p-award">
                Dynamic temporal constraints in business processes.
            </h4>
            <h6 class="experience-subtitle">Conference: </h6>
            <p class="p-award">
                Asia-Pacific Conference on Conceptual Modelling (APCCM)  at the 
                Australasian Computer Science Week (ASCW) 
            </p>
        </div>
        <!--<h6 class="experience-subtitle">Responsibilities:</h6>-->
    </div>
    
    <div class="experience">
        <h5 class="experience-title">Ph.D Scholarship
            <span  class="date-el text-muted">2014 &#8211; 2017</span>
            <!--<span  class="date-el text-muted">Feb 2018 &#8211; present</span>-->
        </h5>
        <!--<h4 class="in-line">lakjdlfkj</h4>-->
        <div class="award-content2">
            <h6 class="experience-subtitle">Scholarship Type:</h6>
            <h4 class="p-award">
                University President's Scholarships (UPS)
            </h4>
            <h6 class="experience-subtitle">Note:</h6>
            <p class="p-award">
                This scholarship was awarded by the University of South Australia for my PhD research from 2014 to 2017.
                University President's Scholarships are awarded on the basis of academic merit.
            </p>
        </div>
        <!--<h6 class="experience-subtitle">Responsibilities:</h6>-->
    </div>
    
    <div class="experience">
        <h5 class="experience-title">Ph.D Scholarship
            <span  class="date-el text-muted">2015 &#8211; 2017</span>
            <!--<span  class="date-el text-muted">Feb 2018 &#8211; present</span>-->
        </h5>
        <!--<h4 class="in-line">lakjdlfkj</h4>-->
        <div class="award-content2">
            <h6 class="experience-subtitle">Scholarship Type:</h6>
            <h4 class="p-award">
                Data to Decision (D2D) CRC Scholarship
            </h4>
            <h6 class="experience-subtitle">Note:</h6>
            <p class="p-award">
                This scholarship was awarded by the Data to Decision CRC, in association with the University of South Australia 
                partly for my PhD research and also for my research contributions to the CRC. 
                University President's Scholarships are awarded on the basis of academic merit.
            </p>
        </div>
        <!--<h6 class="experience-subtitle">Responsibilities:</h6>-->
    </div>
    
</div>


<% include ../partials/footer %>