        
        <div class="clear">
            <footer class="footer">
                <div class="container">
                   <div class="row">
                       <div class="col-sm-6 right-border">
                           <h4 class="footer-title-text">Developed & Maintained by</h4>
                           <h3 class="footer-title-text">John Wondoh</h3>
                       </div>
                       <div class="col-sm-6">
                            <ul class="list-inline list-group-flush">
                                <li class="list-inline-item">
                                    <a href="https://github.com/johnwondoh"class="fab fa-github-square"></a>
                                    <span class="socialsFade">GitHub</span>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/john-wondoh-aaa85337/" class="fab fa-linkedin"></a>
                                    <span class="socialsFade">LinkedIn</span>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://stackoverflow.com/users/3559143/john" class="fab fa-stack-overflow"></a>
                                    <span class="socialsFade">Stack Overflow</span>
                                </li>
                            </ul>
                       </div>
                   </div>
                </div>
            </footer>
        </div>
        <!-- Optional JavaScript -->
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <!-- Local JS file -->
        <script type="text/javascript" src="/JavaScript/jsDOM.js"></script>
    </body>
</html>