
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <!-- adding fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:340,400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cardo:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <!-- My CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/circularProgress.css">
        <link rel="stylesheet" href="/stylesheets/experience.css">
        <link rel="stylesheet" href="/stylesheets/mainSmallScreen.css">
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        
        <title>John Wondoh</title>
    </head>
    <body>
        <!--Nav Bar-->
        <!--<nav class="navbar navbar-expand-lg navbar-light bg-light  bg-dark navbar-default navbar-fixed-top">-->
        <!--class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark" --- for dack color--> 
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">John Wondoh</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/projects">Projects</a>
                        <a class="nav-item nav-link" href="/research">Research</a>
                        <a class="nav-item nav-link" href="/experience">Experience</a>
                        <a class="nav-item nav-link" href="/awards">Awards</a>
                        <!--<a class="nav-item nav-link" href="/image">Images</a>-->
                        <!-- add edu-->
                        <!--add misc for weather time, and other stuff-->
                        <!--<a class="nav-item nav-link disabled" href="#">Disabled</a>-->
                    </div>
                    
                    <div id="right">
                        <form class="form-inline navbar-right">
                            <div class="form-row">
                                <!--<div class="col user-login-infor-style">-->
                                <!--    <input class="form-control form-control-sm" type="text" placeholder="User name" aria-label="User name">-->
                                <!--</div>-->
                                <!--<div class="col">-->
                                <!--    <input class="form-control form-control-sm" type="password" placeholder="Password" aria-label="Password">-->
                                <!--</div>-->
                                <!--<div class="col">-->
                                <!--    <a class="nav-item nav-link" >-->
                                        <!--Contact me-->
                                <!--        <i class="far fa-envelope align-middle"></i>-->
                                <!--    </a>-->
                                <!--</div>-->
                                <!--<div class="col">-->
                                <!--    <a class="nav-item nav-link text-white">-->
                                <!--        <i class="fas fa-phone align-middle"></i>-->
                                <!--    </a>-->
                                <!--</div>-->
                                <% if(!currentUser){ %>
                                    <div class="col">
                                        <a class="btn btn-outline-primary text-muted my-2 my-sm-0 btn-sm" href="/login">
                                            <i class="fas fa-user"></i> Login
                                        </a>
                                    </div>
                                <% } else { %>
                                    <div class="col">
                                        <a class="btn btn-outline-danger my-2 my-sm-0 btn-sm" href="/logout">
                                            logout 
                                            <!--<i class="fas fa-sign-out-alt"></i>-->
                                        </a>
                                    </div>
                                <% } %>
                            </div>
                        </form>
                    </div>
                </div>
   
                <!--<form class="form-inline">-->
                <!--    <div class="form-row">-->
                <!--        <div class="col">-->
                <!--            <input class="form-control form-control-sm" type="text" placeholder="User name" aria-label="User name">-->
                <!--        </div>-->
                <!--        <div class="col">-->
                <!--            <input class="form-control form-control-sm" type="password" placeholder="Password" aria-label="Password">-->
                <!--        </div>-->
                <!--        <div class="col">-->
                <!--            <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Login</button>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</form>-->
            </div>
        </nav>
        
        <!--This is for the flash messages-->
        <div class="container">
            <!--error and success initialised in app.js are actually arrays 
            and are empty if no error or success exist-->
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%=error%>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%=success %>
                </div>
            <% } %>
        </div>