
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <!-- My CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <title>Hello, world!</title>
    </head>
    <body>
        <!--Nav Bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark navbar-default navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="#">JW</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/projects">Projects</a>
                        <a class="nav-item nav-link" href="/research">Research</a>
                        <a class="nav-item nav-link" href="#">Awards</a>
                        <!--<a class="nav-item nav-link disabled" href="#">Disabled</a>-->
                    </div>
                </div>
                <form class="form-inline">
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="User name" aria-label="User name">
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="password" placeholder="Password" aria-label="Password">
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>