<% include partials/header %>

    <h1>Research Page</h1>
    
    <div class="container">
        <!-- Cards showing research activities -- shoule iterate and automaticall generate them -->
        <% publicationData.forEach( function(publication){ %>
        <div class="container">
            <div class="card">
                <!--<img class="card-img-left img-thumbnail" src="https://images.unsplash.com/photo-1525856326341-8adeed4c8b8b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=664eca9d03a5be8e34786a5222862411&auto=format&fit=crop&w=1965&q=80" alt="Card image cap">-->
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="card-img-left img-thumbnail" src="https://images.unsplash.com/photo-1525856326341-8adeed4c8b8b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=664eca9d03a5be8e34786a5222862411&auto=format&fit=crop&w=1965&q=80" alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <h5 class="card-title"><%= publication.info.title %></h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= publication.info.venue %> | <%= publication.info.year %> 
                            </h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            <button type="button" class="btn btn-link btn-xs">View Abstract</button>
                            slide to show abstract here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <p><%= publication.info.title %></p>
    <% }) %>
    </div>

<% include partials/footer %>