body {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-family: "apercu",sans-serif;*/
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    font-weight: 400;
    background-color: #e6e6e6;
    padding-top: 55px;
}

/*body { */
/*    padding-top: 55px; */
/*}*/

p {
    line-height: 1.7em;
    font-style: italic;
}

/*.card-container-design {*/
    /*background-color: red;*/
    /*opacity: 0.5;*/
/*}*/

/*.card-design {*/
/*    background-color: #f0f0f5;*/
/*}*/

/*.card {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.card-body {*/
/*    padding: 0;*/
/*}*/

/*.card*/

.formate-aboutMe{
    /*margin-bottom: 0;*/
    padding: 0;
    text-align: center;
}

.jumbotron-try {
    padding: 15px 15px 0;
    /*background-color: white;*/
    /*background-color: #7FDBFF;*/
    /*background-color: #001f3f;*/
    background-image: linear-gradient(to right, rgba(230, 250, 255,0.5), rgba(230, 255, 250,0.5)), url("../images/circles-and-roundabouts.png");
    background-color:  #f0f0f5; 
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 1%;
    text-align: center;
    margin-bottom:5px;
}

.jumbotron-title {
    font-family: 'Cardo', serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 700;
    font-size: 30px;
}


i.fas {
    font-size: 1.5em;
}

a.fab {
    font-size: 2em;
}

.form-formatting {
    /*width: 50em;*/
    margin: 1.5em 5em;
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*.form-control-file .form-formatting {*/
/*    border: 1px red solid;*/
/*}*/

.img-input{
    /*background-color: #d3d3d3;*/
    /*border: 1px solid #d3d3d3;*/
    padding: 1rem;
}

.center-text{
    text-align: center;
}

.center-text{
    text-align: center;
}



/*==== skicky footer=====*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*height: 80px;*/
    /*background-color: gray;*/
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    opacity: 0.9;
    background-color: #0074D9;
}
.clear { clear: both; height: 90px; }

.footer-title-text {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Cardo', serif;
    font-weight: 400;
    /*font-style: italic;*/
    font-size: 15px;
    margin-bottom: 0;
    text-align: right;
}

.footer .list-inline {
    text-align: left;
    color: white;
}

.footer a {
    color: white;
}


/*====== added in javascript for hovering over research items ======*/
.hoverResearchItem{
    /*border: 2px red solid;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #bdbfc1;
    border-right-color: #111111;
    border-right-style: inset;
    border-right-width: 0.5rem;
}


/*====== For fading in the names of social icons =====*/
.socialsFade{
    background-color: #e74c3c;
	/*height: 40px;*/
	/*vertical-align: middle;*/
	/*margin-right: 20px;*/
	font-size: 12px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear; /*fades the span in*/
	opacity: 0; /*to make sure the trash can isn't showing at all*/
	overflow: hidden;
}


div:hover span.socialsFade{
	width: 100px;
	opacity: 1;
}
/*.navbar-changes {*/
/*    background-color: black;*/
/*}*/

/*body { padding-top: 40px; }*/
/*@media screen and (max-width: 768px) {*/
/*    body { padding-top: 0px; }*/
/*}*/


/*----- From w3school for navbars ------*/
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 1px;
    opacity: 0.9;
}

.navbar-dark {
    background-color: #111111;
}

.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

#right {
    position:absolute;
    right:10px;
}


/*--- project show page image max height ---*/
.card-img-top{
    max-height: 500px;
    object-fit: cover;
}

.hideAbstract {
    height: 0;
    visibility: hidden;
    /*display: none;*/
}

/*.showAbstract {*/
/*    visibility: hidden;*/
    /*display: none;*/
/*}*/


hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* justified align*/
.ab-align{
    text-align: justify;
}

/* center core info */
.rank-area h6{
    /*margin: auto 0;*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rank-area {
    border-left: 1px solid #e3e7ed;
    /*background: rgb(203,203,203);*/
    /*background: -webkit-linear-gradient(left, rgba(203,203,203,1) 0%, rgba(234,234,245,1) 44%, rgba(179,179,179,1) 100%);*/
    /*background: -moz-linear-gradient(left, rgba(203,203,203,1) 0%, rgba(234,234,245,1) 44%, rgba(179,179,179,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(203,203,203,1) 0%, rgba(234,234,245,1) 44%, rgba(179,179,179,1) 100%);*/
    /*background: linear-gradient(to right, rgba(203,203,203,1) 0%, rgba(234,234,245,1) 44%, rgba(179,179,179,1) 100%);*/
}

.card{
    margin: 20px;
}

.programming {
    background-color: #111111;
    color: #DDDDDD;
}

.home-tools {
    /*z-index: 1;*/
    
    background-image: linear-gradient(rgba(153, 204, 255,0.2), rgba(153, 204, 255,0.4)), url("../images/leaves-pattern.png");
    color: #000;
    /* Fallback for web browsers that don't support RGBa */
    /*background-color: rgb(153, 204, 255);*/
    /* RGBa with 0.6 opacity */
    
    /*background-color: rgba(153, 204, 255, 0.9);*/
    
    /* For IE 5.5 - 7*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);*/
    /* For IE 8*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";*/

    /*background-color: #e6f3ff; */
      
}

.cs-tools {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #bdbfc1;
    padding: 30px;
    margin: 20px;
}

.experience-categories {
    text-align: center;
}

.experience-categories:hover {
    background-color: #f2f2f2;
    /*font-size: 50px;*/
    /*width: 40px;*/
    border: 1px double black;
    padding: 10px;
}

/*li:hover span.socialsFade{*/
/*	width: 80px;*/
/*	opacity: 1;*/
/*}*/

.left-border {
    border-left: solid 1px gray;
}

.right-border {
    border-right: solid 1px gray;
}

.both-border{
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

.container-larger {
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 70px;
    /*padding: 20px;*/
    /*width: 100%;*/
}

/*.small-env {*/
/*    margin: 0px;*/
/*}*/
/* Profile picture*/
.rounded-img {
    height: 200px;
    width: 200px;
}
.rounded {
    width: 200px;
    margin: auto;
    position: absolute;
    right: 5%;
    bottom: 17%; /* -10%; */
    border-radius: 21px;
}
.rounded img {
    -moz-border-radius: 100px; 
    -webkit-border-radius: 100px; 
    border-radius: 100px;
}

.rounded-project-image {
    margin-top: 20px;
    border-radius: 10px;
}

.project-show {
    margin: 0 auto;
    margin-bottom: 40px;
}

/* headings */
.home-title {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Cardo', serif;
    font-weight: 700;
    /*font-style: italic;*/
    font-size: 30px;
}

.home-title-frame {
    margin: 0 20px;
}

/* hr on home page*/
hr.hr-style {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(133,20,75, 0.25), rgba(0, 0, 0, 0));
}


/* small line under home page titles */
.home-title:after {
    content:' ';
    position: relative;
    display:block;
    width: 50px;
    margin: 1% 46%;
    border:1px solid #006bb3; /* #d0d0d0; */
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

/* paragraphs in home page */
.home-p-style{
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
}

.home-sub-p-style{
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
}

/* home page subtitle style*/
.home-subtitle-style {
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
}

.home-tool-style {
    font-family: 'Cardo', serif;
    font-weight: 400;
    /*font-style: italic;*/
    font-size: 17px;
    text-align: left;
}

.tool-title {
    font-size: 20px;
    text-align: right;
}

.my-progress-style {
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;    
}


.progress-bar-vertical {
  width: 20px;
  min-height: 100px;
  /*display: flex;*/
  align-items: flex-end;
  /*margin-right: 20px;*/
  /*float: left;*/
  margin: 0 auto;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.home-libraries {
    border: 2px white solid;
    border-top: none;
    padding-bottom: 20px;
}

section {
   overflow: auto;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.abstract-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
}


.award-content {
    /*background-color: #f2f2f2; */
    /* #DDDDDD; */
    padding-left: 20px;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    margin-left: 20px;
    
    /*padding: 15px 15px 0;*/
    /*background-color: white;*/
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.award-content2 {
    /*background-color: #f2f2f2; */
    /* #DDDDDD; */
    padding-left: 20px;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    margin-left: 20px;
    
    /*padding: 15px 15px 0;*/
    /*background-color: white;*/
    /*box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);*/
    /*-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);*/
    /*-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);*/
}

.p-award {
    font-style: normal;
    font-size: 15px;
    line-height: 23px;
    /*padding-left: 20px;*/
}
/*.section{ padding: 0 0 50px; }*/


/*#login-form {*/
/*  z-index: 1;*/
/*  position: relative;*/
/*  text-align: center;*/
/*  padding-top: 30vh;*/
/*  width: 300px;*/
/*}*/

#login-form {
  /*z-index: 1;*/
  /*position: relative;*/
  /*text-align: center;*/
  margin: 0 auto;
  padding-top: 25vh;
  /*margin-left: 40%;*/
  max-width: 300px;
}

#login-form h1 {
    font-family: 'Open Sans', sans-serif;
  color: #000099;
  font-weight: 700;
  font-size: 30px;
}

.edit-profile-pic-form {
    display: none;
}

.images {
    width: 400px;
    margin: 0 auto;
}

.project-images img {
    width: 100%;
}

.experience img {
    width: 50%;
    margin-left:  25%;
}

.scroll-box {
    z-index: 3;
    position: fixed;
    /*border: 1px solid red;*/
    margin-left: 1%;
    margin-top: 3%;
    width: 100px;
    padding: 0;
    
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

/*.scroll-box .btn-secondary {*/
    /*height: 30px;*/
    /*background-color: red;*/
    /*-webkit-border-radius:15px;*/
    /*-moz-border-radius:15px;*/
    /*border-radius: 15px;*/
    /*-webkit-border-radius:0;*/
    /*-moz-border-radius:0;*/
    /*border-radius: 0;*/
/*}*/

.myNavCollapseElement {
    font-size: 9px;
}

.nav-lin {
    padding-left: 5px;
}


/*button */
.scroll-box .btn-secondary {
    background-color: #0074D9;
    border: none;
    height: 26px;
	text-transform: uppercase;
	/*height: 100%;*/
	/*font-weight: 700;*/
	letter-spacing: 1px;
	outline: none;
}

/*.btn-secondary:focus {*/
/*  outline: none;*/
/*}*/

.btn-secondary:focus,.btn-secondary:active:focus,.btn-secondary.active:focus,
.btn-secondary.focus,.btn-secondary:active.focus,.btn-secondary.active.focus {
    outline: none;
    box-shadow:none;
}

/*button:hover, .selected {*/
/*	color: white;*/
/*	background-color: steelblue;*/
/*}*/

/*.scroll-box nav a:hover {*/
/*    style: none;*/
/*} */

/*.home-tools {*/
/*    background-image: linear-gradient(rgba(153, 204, 255,0.2), rgba(153, 204, 255,0.4)), url("../images/circles-and-roundabouts.png");*/
/*    color: #000;*/
/*}*/
