<% include ../partials/header %>

<div class="containter">
    
    <div class="experience">
        <h5 class="experience-title">Academic Research Assistant 
            <span  class="date-el text-muted">Feb 2018 &#8211; present</span>
        </h5>
        <!--<h4 class="in-line">lakjdlfkj</h4>-->
        <h6 class="card-subtitle mb-2 text-muted">
            University of South Australia in collaboration with 
            <a href="https://www.d2dcrc.com.au/">Data-to-Decision (D2D) CRC</a>.
        </h6>
        <p class="p-text">
            D2D CRC is an Australian cooperative research centre aimed at bringing together researchers
            and industry to tackle the Big Data challenges that face Australia’s national security agencies
        </p>
        <h6 class="experience-subtitle">Responsibilities:</h6>
        <ul>
            <li>Applying the theory of the framework presented in my thesis in the context of an investigation.</li>
            <li>Working on the implementation of the extended framework for performance evaluation towards a publication.</li>
            <li>Writing a D2D CRC report on the application of the framework on an investigation.</li>
            <li>Turning the report into a journal article to be submitted to a top-ranked journal.</li>
        </ul>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>

    
    <div class="experience">
        <h5 class="experience-title">
            Python Online Tutor
            <span  class="date-el text-muted">Mar 2018 &#8211; present</span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            UniSA Online @ University of South Australia, Adelaide.
        </h6>
        <p class="p-text">
            UniSA Online is a new initiative of UniSA that offers a range of online degrees that can be
            studied off-campus. The programming language used in this course is Python.
        </p>
        <h6 class="experience-subtitle">Responsibilities:</h6>
        <ul>
            <li>
                Undertaking teaching as part of a teaching team and implementing approaches that
                maximises students experience and learning outcomes.
            </li>
            <li>
                Applying discipline and professional expertise to all teaching activities including:
                <ul>
                    <li>Delivery of virtual classrooms;</li>
                    <li>Moderation of discussion boards;</li>
                    <li>Provision of learning resources;</li>
                    <li>Marking of assessment items;</li>
                    <li>Provision of feedback to students</li>
                </ul>
            </li>
            <li>
                Provide academic support, mentoring and advice to students, ensuring high standards of
                responsiveness to student queries.
            </li>
            <li>
                Act as the first point of response in managing student issues or complaints, escalating
                where appropriate.
            </li>
        </ul>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    

    <div class="experience">
        <h5 class="experience-title">
            Business Intelligence Tutor
            <span  class="date-el text-muted">Feb 2016 &#8211; Feb 2017</span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            University of South Australia, Adelaide.
        </h6>
        <p class="p-text">
            This course explores how business information systems and business intelligence are 
            used to provide business professionals with the ability to conduct analyses of business 
            operations and performance for enhanced decision making. The course practical tutorials 
            focused on introducing students to the important tools necessary for implementing business 
            intelligence concepts in organisations.
        </p>
        <h6 class="experience-subtitle">Responsibilities:</h6>
        <ul>
            <li>Assisting students with course practical. The tools covered in the practical where Power BI, Tableau and Weka.</li>
            <li>Marking of assignments and end of semester exams.</li>
            <li>Providing feedback on assignments.</li>
            <li>Checking Attendance.</li>
            <li>Handling 30-minute workshop sessions during each practical session.</li>
        </ul>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    
    <div class="experience">
        <h5 class="experience-title">
            Enterprise Systems Tutor
            <span  class="date-el text-muted">Feb 2015 &#8211; Feb 2017</span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            University of South Australia, Adelaide.
        </h6>
        <p class="p-text">
            This course focuses on providing students with a general understanding of Enterprise Resource 
            Planning systems and a conceptual knowledge of Business Process Re-engineering principles by 
            analysing enterprise processes and redesigning them. In the course practical tutorials with students, 
            we introduced them to SAP, how it is used in business organisations, and the benefits of using such a 
            system for an enterprise.
        </p>
        <h6 class="experience-subtitle">Responsibilities:</h6>
        <ul>
            <li>Assisting students with course practical. The tool covered in the practical was SAP for enterprise.</li>
            <li>Marking of assignments and end of semester exams.</li>
            <li>Providing feedback on assignments.</li>
            <li>Checking Attendance.</li>
            <li>Providing assistance for students after class.</li>
        </ul>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    
</div>


<% include ../partials/footer %>